@import url('https://fonts.cdnfonts.com/css/satoshi');

@import './src/variables';
@import './src/mixins';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    min-height: 100vh;
    background-color: $primary-color;
    font-family: $sathosi-font;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem; /* 1rem = 10px as changed in html default 16px*/
    font-size: 1.5rem;


   
}

.banner{
    @include flex(column, null, center);
    min-height: 100vh;
    background-color: #DDECF8;

    &_content{
        min-height: 50vh;
        @include flex(column);
        text-align: center;
        padding-left: 4rem;

        

        &--para{
            margin: 2rem auto;
            max-width: 600px;
            // line-height: 1.2;
            // font-size: 1.2rem;
            // font-weight: medium;
            // color: #64648C;
// from figma
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 33px;
            /* or 183% */

            text-transform: capitalize;

            color: #444054;

        }

        &--list{
            margin: 2rem auto;
            max-width: 600px;
            // line-height: 1.5;
            // font-size: 1.2rem;
            // font-weight: bold;
            padding-left: 1.5rem;
            list-style-image: url(/assets/icons/check-circle.png);
            
            //from figm
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-transform: capitalize;

            color: #444054;
            

           
        }

       
       
    }


   

    @include desktop{
        @include flex(row, space-between);
        min-height: calc(100vh - 101px);


        &_content{
            text-align: left;
            margin-right: 3rem;
            align-items: flex-start;
        }
    }

   &_image{
        margin-top: 5rem;
        margin-right: 5rem;
        margin-bottom: 4rem;
   }

}

.banner2{
    @include flex(column, null, center);
    min-height: 100vh;
    background-color: #DDECF8;

    &_content{
        min-height: 50vh;
        @include flex(column);
        text-align: center;
        padding-left: 4rem;

        

        &--para{
            margin: 2rem auto;
            max-width: 600px;
            // line-height: 1.2;
            // font-size: 1.2rem;
            // font-weight: medium;
            // color: #64648C;
// from figma
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 33px;
            /* or 183% */

            text-transform: capitalize;

            color: #444054;

        }

        &--list{
            margin: 2rem auto;
            max-width: 600px;
            // line-height: 1.5;
            // font-size: 1.2rem;
            // font-weight: bold;
            padding-left: 1.5rem;
            list-style-image: url(/assets/icons/check-circle.png);
            
            //from figm
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-transform: capitalize;

            color: #444054;
            

           
        }

       
       
    }


   

    @include desktop{
        @include flex(row, space-between);
        min-height: calc(100vh - 101px);


        &_content{
            text-align: left;
            margin-right: 3rem;
            align-items: flex-start;
        }
    }

   &_image{
        margin-top: 5rem;
        // margin-left: 5rem;
        margin-bottom: 4rem;
   }

}

.banner3{
    @include flex(column, null, center);
    min-height: 100vh;
    background-color: white;
    background-repeat: no-repeat;

    &_content{
        min-height: 50vh;
        @include flex(column);
        text-align: center;
        padding-left: 4rem;
        // margin-top: 5rem;
        font-family: $sathosi-font;

        &--heading{
            // color:black;
            // font-weight: bold;
            // font-size: 5rem;
            // letter-spacing: 1px;
            margin-top: 5rem;
            font-style: normal;
            font-weight: 900;
            font-size: 42px;
            line-height: 63px;
            /* identical to box height, or 150% */

            text-align: center;
            text-transform: capitalize;

            color: #000000;

           
        }

        &--para{
            margin: 2rem auto;
            max-width: 850px;
            // line-height: 1.2;
            // font-size: 1.8rem;
            // font-weight: medium;
            // color: $primary-color;

            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            text-align: center;
            text-transform: capitalize;

            color: #64648C;

        }

        

       
        &--btns{
            margin-top: 5rem;

            & .btn3{
                border: none;
                
                // border: 3px solid $secondary-color;
                padding: 1.2rem 2.2rem;
                font-family: $sathosi-font;
                font-size: 1.5rem;
                cursor: pointer;
                @include transition;

                &.btn-demo{
                        margin-right: 1rem;
                        background-color: $primary-color;

                        &:hover{
                            background-color: $secondary-color;
                            color: white;
                        }
                }

                

            }
        }
    }

    // for video card
    
    .card-deck {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
      
        .card {
          width: 30%;
          margin: 1rem;
          
      
          video {
            width: 100%;
            border-radius: 1.5rem;
            border-style: inset;
          }
      
          .card-body {
            text-align: center;
            
          }
        }
      }

      //subscribe form

      //end
      



}

 // head b1 start

 .banner__head{

    background-color: #DDECF8;

 &--head1{
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 63px;
    /* identical to box height, or 147% */
    
    text-align: center;
    text-transform: capitalize;
    
    color: #111111;
    padding-top: 5rem;
    
    
 }

 &--head2{
    font-style: normal;
    font-weight: 900;
    font-size: 76px;
    line-height: 63px;
    /* identical to box height, or 83% */

    text-align: center;
    text-transform: capitalize;

    color: #111111;
    margin-top: 3rem;

}

&--head3{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    // max-width: 55rem;
    
    text-align: center;
    text-transform: capitalize;
    
    color: #111111;
    margin-top: 3rem;

}

    

 }

 // head b1 end

 //Subscribe Start

  
 //Subscribe End

 //footer

.footer-para{
    margin: 2rem auto;
    
    line-height: 1.2;
    font-size: 1.6rem;
    font-weight: medium;
    color: $primary-color;
    text-align: left;
}

.footer-para1{
    margin: 2rem auto;
    
    line-height: 1.2;
    font-size: 1.6rem;
    font-weight: medium;
    color: $primary-color;
    text-align: left;
}

.footer-rights{
    margin: 2rem auto;
    margin-top: 10rem;
    font-size: 1rem;
    font-weight: medium;
    color: $primary-color;
    text-align: justify;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #00122E;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:10px 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

//responsive

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  